* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 40px auto;
}

.top {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    width: 300px;
    margin-bottom: 40px;
}

.bottom {
    width: 600px;
    margin: 0 auto;
}

input {
    padding: 6px;
    border-radius: 10px;
    margin-right: 10px;
    width: 200px;
}

button {
    padding: 6px 15px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 25px;
    background-color: #e9e9ed;
    border-radius: 5px;
}

li {
    border-bottom: 1px solid gray;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.line-trough{
    text-decoration: line-through;
}